<div class="conatiner d-flex justify-content-center align-items-center mt-5">
  <div class="banner1 col-md-10 com-12 mx-auto d-flex justify-content-center align-items-center flex-column mt-3">
    <h2>Get a professional  </br> website today!</h2>
    <button type="button" class="btn btn-outline-warning mt-3">Make A Website</button>
  </div>
</div>