<div class="conatiner d-flex justify-content-center align-items-center" id="hero-sec">
  <div class="hero-con col-md-10 com-12 mx-auto  d-flex justify-content-center align-items-center">
    <div class="des-sec  d-flex justify-content-center align-items-start flex-column">
      <h2 class="mt-2">Your Idea </br>Matters!</h2>
      <p class="mt-3">
        Pulvinar enim ac tortor nulla facilisi tristique </br>
        facilisi elementum sollicitudin eget lorem.
      </p>
      <button type="button" class="btn btn-outline-warning mt-2">Make A Website</button>
    </div>
    <div class="hero-img  d-flex justify-content-center align-items-center">
      <img src="https://wp-themes.com/wp-content/themes/astra/inc/assets/images/starter-content/hero-img.svg">
    </div>
  </div>
</div>